
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

#Allure
/allure-report
/allure-results
/allure

#Environment
.DS_Store
.playwright.env

# idea
/.idea/

